/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header **********/
.bloc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-bottom: 30px;
}

.logo {
    height: 3vh;
    width: 5%;
    padding: 25px;
}

/* Menu */
.nav-menu {
    padding: 0px 30px;
    height: 10vh;
}

.list-menu {
    list-style: none;
    display: flex;
    margin-top: 0;
    gap: 45px;
}

.list-menu a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
}

.list-menu a:hover{
    color: var(--main-color);
    border-top: solid var(--main-color);

}

/****** Search section **********/
.search {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* search title */
.text-search h1{
margin-bottom: 0;
font-size: 24px;
}

.text-search p{
margin-top: 5px;
}

/* serch bar */
.search-bar {
    display: flex;
    height: 9vh;
}

.location {
    color: black;
    background-color: #F2F2F2;
    width: 49px;
    height: 48px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border-left: none;
    border-right: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 15px 16px;
    height: 48px;
    width: 240px;
}

.search-input::placeholder {
    font-weight: 700;
    font-size: 17px;
    color: black;
    opacity: 1;
  }

.search-submit {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    border: none;
    height: 48px;
    padding: 14px;
}

/* filtre */
.search-filter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchButton {
    border-radius: 32px;
    margin-right: 32px;
    border: #d9d9d9 2px solid;
    font-weight: bold;
    padding: 4px 19px;
    background-color: white;
    height: 48px;

}

.searchButton i{
padding: 10px;
}

.searchButton:hover {
background-color: #DEEBFF;
}

.filter-button {
display: flex;
}

.filter-button i {
color: #0065FC;
}

/* info */
.search-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-info i {
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hosting-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocCard {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card-link {
text-decoration: none;
}

.card img {
    border-radius: 20px 20px 0px 0px;
    height: 17vh;
    width: 100%;
}

.hebergements .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 8px;
    color: black;
}

.hebergements .card {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    height: 29vh;
    width: 30%;
}

.hebergements .card-rating {
    margin-bottom: 15px;
}

.neutral-star {
color: #d9d9d9;;
}

.hebergements, .card-title, .card-subtitle{
    margin: 0;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Section Activity **********/
.activity {
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 30px;
}

.activity-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activity-card .card {
padding: 0;
width: 24%;
}


.activity-card img {
    height: 58vh;
    width: 100%;
}

.activity-card .card-content {
    padding: 20px 19px;
}

.activity-card .card-content h3{
    text-decoration: none;
    color: black;
}

/****** Footer **********/
.blocFooter {
    display: flex;
    padding-left: 15px;
    background-color: #F2F2F2;
    width: 100%;
}

.contentFooter {
    display: flex;
    gap: 35px;
    width: 100%;
}

.columnFooter {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.columnFooter ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.columnFooter ul li a{
    text-decoration: none;
    color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}